.blog-main-content > h6 {
  border-left: 5px solid #37a5f6;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  background-color: #f1f7ff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 1.5rem;
  font-size: 1.1rem;
  font-weight: 300;
}

.blog-main-content > h5 {
  border-left: 5px solid #37a5f6;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  /* background-color: #f1f7ff; */
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 1.5rem;
  font-size: 1.1rem;
  font-weight: 300;
}
.blog-main-content > h5 > em:last-child {
  display: block;
  font-size: 0.9rem;
  padding-top: 1rem;
  color: #c1c3c7;
}

.blog-main-content > h5::before {
  content: '"';
  position: absolute;
  top: -10%;
  left: 0.3%;
  color: #85c9bb;
  font-size: 4rem;
  font-weight: 400;
}

.blog-main-content > h3 {
  font-size: 1.75rem;
}
.blog-main-content > p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.blog-main-content > p > a {
  color: #007bff !important;
  text-decoration: none;
  background-color: transparent;
}
.blog-main-content > h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.blog-main-content > h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
