.footer-columns {
  .ant-collapse-header {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .ant-collapse-content-box {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .ant-collapse-expand-icon {
    color: white !important;
  }
}
