.landing-form {
  background-color: #fff;
  border-radius: 25px;
  padding: 2rem;
  text-align: center;
  -webkit-box-shadow: 1px 3px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 3px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 3px 14px 0px rgba(0, 0, 0, 0.75);
}
.landing-form-control {
  background-color: #f1f7ff !important;
  border: 1px solid #8fcdf9;
  border-radius: 10px;
}
