.carousel-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none; /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar,
.carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.left-arrow,
.right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  border: 1px solid #ddd;
}

.left-arrow {
  left: -2.5rem;
}

.right-arrow {
  right: -2.5rem;
}

.carousel-content.show-2 > * {
  width: 50%;
}

.carousel-content.show-3 > * {
  width: calc(100% / 3);
}

.carousel-content.show-4 > * {
  width: calc(100% / 4);
}

.carousel-content.show-5 > * {
  width: calc(100% / 5);
}
.carousel-content.show-6 > * {
  width: calc(100% / 6);
}
.carousel-content.show-7 > * {
  width: calc(100% / 7);
}
.carousel-content.show-8 > * {
  width: calc(100% / 8);
}
.carousel-content.show-9 > * {
  width: calc(100% / 9);
}
.carousel-content.show-10 > * {
  width: calc(100% / 10);
}
@media (min-width: 768px) {
  .carousel-content.show-5 > * {
    width: calc(100% / 10);
  }
}
